
    <form action="/bet/guess1" method="post">
      <label for="bet">Bet:</label>
        <input type="text" name="bet" value="">
      </label>
      <button type="submit">Guess 1</button>
    </form>

    <form action="/bet/guess2" method="post">
      <label for="bet">Bet:</label>
        <input type="text" name="bet" value="">
      </label>
      <button type="submit">Guess 2</button>
    </form>

    <form action="/bet/guess3" method="post">
      <label for="bet">Bet:</label>
        <input type="text" name="bet" value="">
      </label>
      <button type="submit">Guess 3</button>
    </form>