<form action="/bet" method="post">
  <label for="bet">Bet:</label>
    <input type="text" name="bet" value="">
  </label>
  <button type="submit" name="guess" value="1">Guess 1</button>
  <button type="submit" name="guess" value="2">Guess 2</button>
  <button type="submit" name="guess" value="3">Guess 3</button>
</form>